.team-pic{
  width: 200px;
  padding-top: 2em;
}

h1, h2{
  color:#3680AD;
}

.team-list li{
  margin: 0 50px;
  color: #3680AD;
}

.team-list h2{
  font-size: 20px;
}

.contact-info{
  background-color: #3680AD;
  color: white;
  margin-top: 3em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.contact-info p{
  font-size: 15px;
}

.contact-info h2{
  color:white;
  font-size: 20px;
}