---
title: Pap.r contact
---

<div class="container text-center title">
  <div class="row">
    <h1>Meet the Pap.r team</h1>
    <ul class="list-inline team-list">
      <li>
        <%= image_tag "laure.jpg", class: "img-circle team-pic"%>
        <h2>Laure</h2>
      </li>
      <li>
        <%= image_tag "renaat.jpg", class: "img-circle team-pic"%>
        <h2>Renaat</h2>
      </li>
    </ul>
  </div>
</div>
<div class="row contact-info text-center">
  <h2>Contact us</h2>
  <p><i class="fa fa-phone"></i> 0032/456.87.66</p>
  <p><i class="fa fa-envelope-o"></i>
  <a href="mailto:pap.r@info.com">pap.r@info.com</a></p>
  <p><i class="fa fa-map-marker"></i> Avenue Bel Air</p>
  <p>Uccle</p>
</div>